@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #02eeff;
    --color-primary-variant: #5ddce5;
    --color-bg1: #001517;
    --color-bg2: #00282d;
    --color-bg3: #012e34;
    --color-bg4: #003f47;
    --color-light: #85afb2;
    --color-white: #e6e6e6;

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-bg3);
    color: var(--color-light);
    line-height: 1.8;
    overflow-x: hidden;
}

h1,
h2 {
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-light);
    transform: var(--transition);
}

a:hover {
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn {
    padding: 0.5rem 2rem;
    background: var(--color-primary-variant);
    font-weight: 500;
    border-radius: 2rem;
    color: var(--color-bg4);
    display: inline-block;
    margin-top: 2rem;
    transition: var(--transition);

}

.btn:hover {
    color: var(--color-light);
    background: var(--color-bg4);
}

.btn:active {
    outline: 0.5rem solid var(--color-light)
}

/*============ Header Start ================= */

nav {
    display: flex;
    place-content: center;
    width: 100vw;
    display: flex;
    place-items: center;
    height: calc(16px * 5);
    background-color: var(--color-bg2);
    border-bottom: 0.2rem solid var(--color-bg3);
    box-shadow: 0 0.2rem 0.7rem rgba(0 0 0 / 0.3);
    position: fixed;
    top: 0;
    z-index: 99;

}

.nav_container {
    display: flex;
    justify-content: space-between;
}

.nav_logo h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 500;

}

.nav_link {
    display: flex;
    align-items: center;
}

.nav_link ul {
    display: flex;
    gap: calc(16px * 4);
}

.nav_social ul {
    display: flex;
    gap: calc(16px * 1);
}

.nav_social a {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    color: var(--color-bg4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.nav_social a:hover {
    box-shadow: 0 1rem 1rem rgba(0 0 0 / 0.5);
}

/*============ Hero Start ================= */
.hero {

    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--color-bg3), var(--color-bg1));
    overflow: hidden;
}

.hero_container {
    display: grid;
    grid-template-columns: 53% 43%;
    gap: 4%;
    margin-top: 10rem;
    position: relative;
}

.hero_left h5 {
    color: var(--color-primary-variant);
    font-size: 1rem;
    font-weight: normal;
}

.hero_left p {
    width: 85%;
    margin-top: 2rem;
}

.hero_right {
    position: relative;
}

.hero_right .hero_bg1 {
    width: 16rem;
    height: 22rem;
    background: var(--color-bg4);
    position: absolute;
    top: 0;
    right: 0;
}

.hero_right .hero_bg2 {
    width: 28rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: var(--transition);
    filter: saturate(0) brightness(0.5);
}

.hero_right .hero_bg3 {
    width: 26rem;
    height: 26rem;
    position: absolute;
    top: 10rem;
    right: 10rem;
    overflow: hidden;
    transition: var(--transition);
}

.hero_right:hover .hero_bg2 {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg4);
    top: 0;
    right: 0;
    transition: var(--transition);
}

.hero_right:hover .hero_bg3 {
    opacity: 0;
}

.hero_frames {
    position: absolute;
    top: 75vh;
    left: 25vw;
}

.hero_frame {
    width: 20rem;
    border: 0.5rem solid var(--color-bg3);
    position: absolute;
    transform-origin: bottom left;
    box-shadow: 0 0 5rem rgba(0 0 0 / 50%);
    rotate: -10deg;
    transition: var(--transition);
}

.hero_frame:last-child {
    rotate: 10deg;
    top: -2rem;
    left: -2rem;
}

.hero_frames:hover .hero_frame {
    rotate: 0deg;
}

.hero_frames:hover .hero_frame:last-child {
    left: 21rem;
    rotate: 0deg;
    top: 0;
}

/*============ Hero END ================= */

/*============ ABOUT Start ================= */
#about {
    margin-top: 20rem;
}

.container_about {
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    position: relative;
}


.about_left {
	position: relative;
}

.about_bg1 {}

.about_left .about_bg1 {
    width: 16rem;
    height: 22rem;
    background: var(--color-bg4);
    position: absolute;
    top: 0;
    left: 0;
}

.about_left .about_bg2 {
    width: 28rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: var(--transition);
    filter: saturate(0) brightness(0.5);
}

.about_left .about_bg3 {
    width: 22rem;
    height: 22rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
    overflow: hidden;
    transition: var(--transition);
}

.about_left:hover .about_bg2 {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg4);
    top: 0;
    left: 0;
    transition: var(--transition);
}

.about_left:hover .about_bg3 {
    opacity: 0;
}

.about_right {
    margin-left: 5rem;
}

.about_title {
    margin-bottom: 3rem;
}

.about_right p {
    margin-bottom: 1.5rem;
    width: 93%;
}

.about_btn {
    margin-top: 1.5rem;
}

/*============ ABOUT END ================= */

/*============ GALLERY Start ================= */

#gallery{
    margin-top: 15rem;
}

.gallery_head h2{
    margin-bottom: 2rem;
}

.gallery_head p {
    width: 50%;
    margin-bottom: 2rem;
}

.gallery_images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
}

.gallery_image{
    width: 26rem;
    border: 1rem solid var(--color-bg4);
}
.gallery_image img{
    filter: saturate(0) brightness(0.5);
    transition: var(--transition);
}
.gallery_image:hover img{
    filter: saturate(1) brightness(1);
}


/*============ GALLERY END ================= */

/*============ COLLAGE Start ================= */

#collage{
    margin-top: 15rem;
}
.collage_head{
    overflow: hidden;
}

.collage_head h2{
    margin-bottom: 2rem;
    text-align: right;
}

.collage_head p {
    width: 50%;
    margin-bottom: 2rem;
    float: right;
    text-align: right;
}

.collage_images{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e g"
    "f f g"
    ;
    gap: 2rem;

}


.collage_image:nth-child(1){
    grid-area: a;
}

.collage_image:nth-child(2){
    grid-area: b;
}

.collage_image:nth-child(3){
    grid-area: c;
}

.collage_image:nth-child(4){
    grid-area: d;
}

.collage_image:nth-child(5){
    grid-area: e;
}

.collage_image:nth-child(6){
    grid-area: f;
}

.collage_image:nth-child(7){
    grid-area: g;
}


.collage_image{
    border: 1rem solid var(--color-bg4);
}

.collage_image img{
    filter: saturate(0) brightness(0.5);
    transition: var(--transition);
    height: 100%;
}
.collage_image:hover img{
    filter: saturate(1) brightness(1);
}


/*============ COLLAGE END ================= */

/*============ FOOTER START ================= */

.container_footer{
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============ FOOTER END ================= */


/*============ Medim Devise REsponsive start ================= */

@media screen and (max-width: 1400px) {
    .hero_right .hero_bg3 {
        width: 23rem;
        height: 23rem;
    }
    h1 {
        font-size: 3.3rem;
    }
    .hero {
        height: 900px;
    }
    .hero_frame {
        width: 14rem;
    }
    .hero_frames {
        top: 100%;
        left: 11vw;
    }
    .gallery_image {
        width: 100%;
    }
}


@media screen and (max-width: 1400px) {
    .container {
        width: 100%;
        padding: 0 21px;
        max-width: 1170px;
    }
    .about_right {
        margin-left: 2.5rem;
    }

}


@media screen and (max-width: 992px) {
    .hero_right .hero_bg2{
        position: relative;
        width: 100%;
    }
    .hero_frames{
        display : none;
    }

    .hero_right .hero_bg3{
        display: none;
    }

    .about_left .about_bg2{
        position: relative;
        width: 100%;
    }

    .about_left .about_bg3{
        display: none;
    }
    .about_right {
        margin-left: 1.5rem;
    }

    .collage_images{
        animation: change_layout 6s linear infinite ;
        /* animation: change_color 4s linear infinite; */
        gap: 0.8rem;
    }
    .collage_image{
        border-width: 0.7rem;
    }
    .collage_image img{
        animation: change_color 4s linear infinite;
    }

    @keyframes change_color{
        to{
            filter: saturate(1) brightness(1);
        }
    }

    @keyframes change_layout {
        0{
          grid-template-areas: 
            "a b c"
            "d e g"
            "f f g"
            ;
        }
        25%{
            grid-template-areas: 
            "c b d"
            "g f f"
            "g e a"
            ;
        }
        50%{
            grid-template-areas: 
            "c g b"
            "a g d"
            "e f f"
            ;
        }
        75%{
            grid-template-areas: 
            "g f f"
            "g a c"
            "e b d"
            ;
        }
        100%{
            grid-template-areas: 
            "a b c"
            "d e g"
            "f f g"
            ;
        }
    }

}

@media screen and (max-width: 768px){
    h2 {
        font-size: 3rem;
      }
    .hero_container {
        grid-template-columns: 1fr;
    }

    .hero_right .hero_bg2 {
        width: 100%;
        
        filter: saturate(1) brightness(1);
        top: 0;
        left: 0;
    }
    .hero_bg2 {
        border: 1rem solid var(--color-bg4);
        top: 0;
        right: 0;
        transition: var(--transition);
    }

    .hero {
        height: fit-content;
        padding-bottom: 91px;
    }
    .hero .hero_left{
        order: 1;
    }

    #about{
        margin-top: 0;
        padding: calc(16px * 4) 0;
    }

    .about_right {
        margin-left: 0rem;
    }

    .about_right p{
        width: 100%;
        text-align: justify;
    }

    #gallery{
        margin-top: 0;
        padding: calc(16px * 4) 0;
    }


.gallery_images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	place-items: center;
}

.gallery_head p{
    width: 100%;
}

.gallery_images{
    grid-template-columns: 1fr;
}

.container_about {
	grid-template-columns: repeat(1, 1fr);
}
.about_left .about_bg2 {
	width: 100%;
	filter: saturate(1) brightness(1);
    top: 0;
    left: 0;
}
.about_bg2 img{
    filter: saturate(1) brightness(1);
}
.about_bg2 {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg4);
    top: 0;
    left: 0;
    transition: var(--transition);
}


/*  Gallery SectioN */

#collage{
    margin: 0;
    padding: calc(15px * 4) 0;
}
.collage_head h2{
    text-align: left;
}
.collage_head p{
    width: 100%;
    text-align: left;
}


}



